* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  --pink: violet;
}

body {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: 3px solid black;
  margin: 3px;
}

header h1 {
  color: black;
  font-size: 400%;
}

nav ul li {
  display: inline;
}

a {
  text-decoration: none;
  color: black;
  font-size: 150%;
}

.avatar-background {
  height: 200px;
  display: flex;
  border: 3px solid black;
  justify-content: right;
  margin: 3px;
}

.avatar {
  position: relative;
  height: 200px;
  width: 200px;
  margin-right: 150px;
  margin-top: 30px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px var(--pink);
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  margin: 3px 5vw 3px 5vw;
}

main section {
  display: flex;
  border: 3px solid black;
  margin: 3px;
}

main h2 {
  font-size: 350%;
  text-align: right;
  border: 2px solid black;
  padding: 1%;
  margin: 5% 1%;
}

main p {
  font-size: 200%;
  margin: 5% 1%;
  line-height: 125%;
}
