/*Set the font size to 62.5% (equal to 10px) in order to calculate rems easily.*/
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  --pink: violet;
}

body {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

/*Use the justify-content property to space items on opposite sides of the page.*/
header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: 3px solid black;
  margin: 3px;
}

header h1 {
  color: black;
  font-size: 3.5rem;
  padding-left: 2%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navlinks {
  display: flex;
  justify-content: space-between;
}

.navlinks a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  margin: 0 10px;
}

/*Use the justify-content property to align the flex items along the main axis.*/
.avatar-background {
  height: 200px;
  display: flex;
  border: 3px solid black;
  justify-content: right;
  margin: 3px;
}

/*Round out corners of photo to create an avatar.*/
.avatar {
  position: relative;
  height: 200px;
  width: 200px;
  margin-right: 300px;
  margin-top: 30px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px var(--pink);
  overflow: hidden;
}

/*Create a class for the main section. Use a flexbox to manipulate content within.*/
.main-section {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  border: 3px solid black;
  margin: 3px auto;
}

/*Create a class to format all section headings same way.*/
.main-section h2 {
  font-size: 2rem;
  width: 25%;
  text-align: right;
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
}

/*Create a class to format content in a uniform manner.*/
.section-right {
  width: 70%;
  padding: 20px;
  margin: 10px;
}
.section-right p {
  font-size: 1rem;
  line-height: 120%;
}

.projects {
  display: flex;
  flex-direction: column;
}

/*Blur the image using the blur filter.*/
.large-project {
  height: 400px;
  width: 100%;
  filter: blur(2px);
}

.title-holder {
  position: relative;
}

.project-title {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.smaller-projects {
  display: flex;
  justify-content: center;
}

.smaller-projects a {
  width: 50%;
}

/*Blur the images using the blur filter.*/
.smaller-projects a img {
  width: 100%;
  height: 200px;
  filter: blur(2px);
}

.placeholder {
  display: flex;
}

/*Set the blur filter to 0 to remove the blur when the user hovers over the element.*/
.large-project:hover,
.smaller-projects img:hover {
  filter: blur(0);
}

/*Use inline display to show list items horizontally.*/
.contact-items {
  font-size: 1.5rem;
  display: inline;
  text-decoration: none;
  margin: 0 10px;
}

.contact-list a {
  text-decoration: none;
  color: black;
}

/*Use media queries to provide a responsive layout that adapts to my viewport on various screens and devices.*/
@media screen and (max-width: 711px) {
  .navlinks {
    flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .contact-items {
    display: block;
  }
}
