* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  --pink: violet;
}

body {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: 3px solid black;
  margin: 3px;
}

header h1 {
  color: black;
  font-size: 375%;
  padding-left: 2%;
}

header nav {
  padding-right: 2%;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 150%;
}

.avatar-background {
  height: 200px;
  display: flex;
  border: 3px solid black;
  justify-content: right;
  margin: 3px;
}

/*Round out corners of photo to create an avatar.*/
.avatar {
  position: relative;
  height: 200px;
  width: 200px;
  margin-right: 300px;
  margin-top: 30px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px var(--pink);
  overflow: hidden;
}

/*Create a class for the main section. Use a flexbox to manipulate content within.*/
.main-section {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  border: 3px solid black;
  margin: 3px auto;
}

/*Create a class to format all section headings same way.*/
.main-section h2 {
  font-size: 300%;
  width: 25%;
  text-align: right;
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
}

/*Create a class to format content in a uniform manner.*/
.section-right {
  width: 70%;
  padding: 20px;
  margin: 10px;
}
.section-right p {
  font-size: 200%;
}

.projects {
  display: flex;
  flex-direction: column;
}

.large-project {
  height: 400px;
  width: 100%;
  filter: blur(2px);
}

.title-holder {
  position: relative;
}

.project-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.smaller-projects {
  display: flex;
  justify-content: center;
}

.smaller-projects a {
  width: 50%;
}

.smaller-projects a img {
  width: 100%;
  height: 200px;
  filter: blur(2px);
}

.placeholder {
  display: flex;
}

.large-project:hover,
.smaller-projects img:hover {
  filter: blur(0);
}

.contact-list {
  display: flex;
  justify-content: space-between;
}

.contact-list ul li {
  display: inline;
  font-size: 200%;
  margin-right: 10px;
}
